


<div class="form-getbycpf">
  <input type="text" placeholder="Digite o CPF" #cpfInput>
  <button (click)="getPolicialByCpf(cpfInput.value)">Buscar</button>
</div>



<table >
  <thead>
    <tr>
      <th>Nome</th>
      <th>RG Civil</th>
      <th>RG Militar</th>
      <th>CPF</th>
      <th>Data de Nascimento</th>
    </tr>
  </thead>
  <tbody >
    @for (policial of policiaisService.policiaisList; track policial.id) {
    <tr>
      <td>{{ policial.nome }}</td>
      <td>{{ policial.rg_civil }}</td>
      <td>{{ policial.rg_militar }}</td>
      <td>{{ policial.cpf }}</td>
      <td>{{ policial.data_nascimento | date:'dd/MM/yyyy' }}</td>
    </tr>
    }
  </tbody>
</table>